@import url(./footer.css);

/* Header section start */

nav {
  /*   position: fixed;
  top: 0;
  width: 100%; */
  padding: 30px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  /*   z-index: 6;
  top: 0;
  width: 100%; */
  overflow: hidden;
  background-color: white;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left {
  font-size: 30px;
  font-weight: 600;
}
.nav__left a:hover {
  color: goldenrod;
}
.dropdownUl {
  list-style: none;
}
.dropdownUl li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
}
.dropdownUl li ul.dropdown {
  width: 12%;
  background-color: #22438c;
  position: absolute;
  z-index: 999;
  display: none;
}
.dropdownUl li a:hover {
  background-color: #112c66;
}
.dropdownUl li:hover ul.dropdown {
  display: block;
}
.dropdown__content a {
  text-decoration: none;
  color: white;
}
.nav__center ul {
  display: flex;
}
.nav__right {
  display: flex;
  gap: 30px;
}
.nav__center a:hover {
  color: goldenrod;
}
.nav__right:nth-child(3) i {
  margin-right: 7px;
}
.active {
  color: goldenrod;
}

/* Header section end */

/* Backstage section start */

#backstage {
  background-image: url("../img/backstage.jpg");
  height: 30vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.backstage__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

/* Backstage section end */

/* Depot store section start */

#depotStore {
  padding: 70px;
}

.dptStore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.dptStore__img img {
  width: 100%;
}

.dptStore__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__title {
  display: flex;
  gap: 20px;
}

.content__title button {
  text-transform: uppercase;
}

.dptStore__content p {
  color: #929292;
  text-align: justify;
}

.dptStore__content a {
  color: #929292;
  font-weight: bold;
}

.dptStore__content i {
  margin-left: 5px;
}

.dptStore__content a:hover {
  color: black;
}

/* Depot store section end */

/* aboutSlider section start */

#aboutSlider {
  background-color: #f7f6f6;
  padding: 50px 0;
}

.abtSlideContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.abtSlideContent h1 {
  text-transform: uppercase;
}

.abtSlideContent p {
  margin: 0 auto;
  width: 60%;
}

.author {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.author span:first-child {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

/* aboutSlider section start */

/* aboutFooter section start */

#aboutFooter {
  background-color: black;
}
#aboutFooter * {
  color: white;
}

/* aboutFooter section end */

.sideMenu {
  position: fixed;
  top: 0;
  right: -605px;
  width: 605px;
  height: 100%;
  min-height: 100%;
  padding: 66px 62px 121px;
  background-color: #111;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
}
.sideArea__inner {
  margin-bottom: 30px;
}
.sideAre__title {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.sideAre__title h6 {
  text-transform: uppercase;
}
.sideArea__content ul {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.sideArea__content li img {
  width: 100%;
}
.modal__close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 8px;
  right: 21px;
  cursor: pointer;
  opacity: 0.5;
  font-weight: 700;
}
.sideAre__bottom {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  text-transform: uppercase;
}
.sideAre__bottom .social__links {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.sideAre__bottom .social__links i {
  color: white;
}
.modalSideMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.6s ease;
  cursor: pointer;
}