@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
.btn {
    padding: 15px 35px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    background-color: #fff;
}
.btn:hover {
    background-color: black;
    color: white;
}
.btn-active {
    background-color: black;
    color: white;
  }