@import url(./footer.css);

/* Header section start */
nav {
  /* position: fixed;
  top: 0;
  width: 100%; */
  padding: 30px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 6;
  overflow: hidden;
  background-color: white;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left ul {
  display: flex;
  gap: 30px;
}
.nav__left a:hover {
  color: goldenrod;
}
.dropdownUl {
  list-style: none;
}
.dropdownUl li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
}
.dropdownUl li ul.dropdown {
  width: 12%;
  background-color: #22438c;
  position: absolute;
  z-index: 999;
  display: none;
}
.dropdownUl li a:hover {
  background-color: #112c66;
}
.dropdownUl li:hover ul.dropdown {
  display: block;
}
.dropdown__content a {
  text-decoration: none;
  color: white;
}
.nav__center {
  font-size: 30px;
  font-weight: 600;
}
.nav__right {
  display: flex;
  gap: 30px;
}
.nav__right a:hover {
  color: goldenrod;
}
.nav__right:nth-child(3) i {
  margin-right: 7px;
}
.active {
  color: goldenrod;
}
/* Header section start */

/* homeSlider section start */

.homeSlider {
  /* width: 1600px; */
  /* overflow: hidden; */
  margin: 50px auto;
  background-color: rgb(207, 206, 206);
  position: relative;
}
.homeSlider__wrapper {
  position: relative;
}
.homeSlider__inner {
  display: flex;
}
.homeSlider__context {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 50px;
  line-height: 2;
}
.homeSlider__context h1 {
  text-transform: uppercase;
}
.homeSlider__item {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
}
.homeSlider__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeSlider__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
}

/* homeSlider section end */

/* depotTable section start */

.mainTitle {
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 20px 0;
}
.main_list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main_list li:hover a {
  font-weight: 600;
}
.table__search {
  border: 1px solid gray;
  border-radius: 5px;
  width: 20%;
  display: flex;
}
.btn {
  outline: none;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  opacity: 1;
  width: 40%;
}
.btn-search {
  background-color: rgb(97, 168, 192);
}
.btn:hover {
  opacity: 0.7;
}
input {
  width: 100%;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn, input {
  border: none;
  outline: none;
}
.filterTab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterTab i {
  margin-left: 5px;
}
.mainTable {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
}
.table__item {
  width: 100%;
}
.table__item img {
  width: 100%;
  object-fit: cover;
}
.table__img {
  position: relative;
}
.table__item .title {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.table__item .caption {
  text-align: center;
  background-color: rgb(52, 46, 46);
  color: white;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  display: none;
  position: absolute;
  bottom: 4.5px;
  left: 25%;
}
.table__item .caption button {
  background-color: transparent;
  padding: 5px;
  flex-grow: 1;
  color: white;
  cursor: pointer;
}
.table__item .caption i {
  background-color: gray;
  padding: 6px 3px;
  flex-grow: 1;
}
.table__item:hover .caption {
  display: flex;
  transition: all 9s;
}
.table__content {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* depotTable section end */

/* modal section start */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 800px;
  margin: 40px auto;
  background-color: white;
}
.modal__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.modal__img img {
  width: 100%;
}
.modal__theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 25px;
}
.modal__theme h2 {
  text-transform: uppercase;
}
.addingCart {
  border: 1px solid gray;
}
.addingCart .quantity {
  padding: 10px;
  width: 100%;
}
.quantity span {
  margin-right: 10px;
}
.addingCart button {
  padding: 10px 20px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 100%;
}
.addingCart {
  display: flex;
}
.wishList span {
  text-transform: uppercase;
}
/* modal section end */

.sideMenu {
  position: fixed;
  top: 0;
  right: -605px;
  width: 605px;
  height: 100%;
  min-height: 100%;
  padding: 66px 62px 121px;
  background-color: #111;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
}
.sideArea__inner {
  margin-bottom: 30px;
}
.sideAre__title {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.sideAre__title h6 {
  text-transform: uppercase;
}
.sideArea__content ul {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.sideArea__content li img {
  width: 100%;
}
.modal__close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 8px;
  right: 21px;
  cursor: pointer;
  opacity: 0.5;
  font-weight: 700;
}
.sideAre__bottom {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  text-transform: uppercase;
}
.sideAre__bottom .social__links {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.sideAre__bottom .social__links i {
  color: white;
}
.modalSideMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.6s ease;
  cursor: pointer;
}
